# Dependency/Module Directories
node_modules
npm-debug.log

# Operating System Files
.DS_Store

# IDE and Editor Directories
.vscode
.idea

# Source Control and Git
.git
.gitignore

# Local Environment Variables and Configuration
.env
*.local.js